{% extends "base.html" %}

{%block content %}
        <h1>Modificar Movimiento</h1>

        <form action="/update_movement/{{ pos }}" method="post">
            <div>
                <label for="date">
                    Fecha:
                </label>
                <input type="date" name="date" id="date" value="{{ the_form.date }}">
            </div>
            <div>
                <label for="abstract">
                    Concepto:
                </label>
                <input type="text" name="abstract" id="abstract" value="{{ the_form.abstract }}">
            </div>
            <div>
                <label for="amount">Cantidad:</label>
                <input type="number" name="amount" id="amount" step="0.01" value="{{ the_form.amount }}">
            </div>
            <div>
                <label for="currency">Moneda:</label>
                <select name="currency" id="currency" selected="{{ the_form.currency }}">
                    <option value="EUR">Euros</option>
                    <option value="USD">Dólares americanos</option>
                </select>
            </div>
            <div>
                <input name="submit" id="submit" type="submit" value="Enviar">
            </div>
        </form>
 {% endblock %}